Import module

In [80]:
import pandas as pd
import mysql.connector  
from mysql.connector import Error
import sqlite3

Import dataframe from csv

In [81]:
df = pd.read_csv("Sample-Superstore.csv", sep = ",", encoding='windows-1252')
df

# I got an error, utf8 codec cant decode byte... so i looked at this site. https://stackoverflow.com/questions/48067514/utf-8-codec-cant-decode-byte-0xa0-in-position-4276-invalid-start-byte

      Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID     Customer Name    Segment        Country             City  ... Postal Code  Region       Product ID         Category Sub-Category                                       Product Name     Sales  Quantity  Discount    Profit
0          1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520       Claire Gute   Consumer  United States        Henderson  ...       42420   South  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase  261.9600         2      0.00   41.9136
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520       Claire Gute   Consumer  United States        Henderson  ...       42420   South  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3      0.00  219.5820
2          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles  ...       90036    West  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200         2      0.00    6.8714
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...       33311   South  FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775         5      0.45 -383.0310
4          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...       33311   South  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.3680         2      0.20    2.5164
...      ...             ...         ...         ...             ...         ...               ...        ...            ...              ...  ...         ...     ...              ...              ...          ...                                                ...       ...       ...       ...       ...
9989    9990  CA-2014-110422   1/21/2014   1/23/2014    Second Class    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings                             Ultra Door Pull Handle   25.2480         3      0.20    4.1028
9990    9991  CA-2017-121258   2/26/2017    3/3/2017  Standard Class    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2      0.00   15.6332
9991    9992  CA-2017-121258   2/26/2017    3/3/2017  Standard Class    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  ...       92627    West  TEC-PH-10003645       Technology       Phones                              Aastra 57i VoIP phone  258.5760         2      0.20   19.3932
9992    9993  CA-2017-121258   2/26/2017    3/3/2017  Standard Class    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4      0.00   13.3200
9993    9994  CA-2017-119914    5/4/2017    5/9/2017    Second Class    CC-12220      Chris Cortes   Consumer  United States      Westminster  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2      0.00   72.9480

[9994 rows x 21 columns]

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

Feature Engineering: creating two new columns

In [83]:
df["ProductPrice"] = df["Sales"]/df["Quantity"]

pd.options.display.width=2000
df.head()

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID    Customer Name    Segment        Country             City  ... Region       Product ID         Category Sub-Category                                       Product Name     Sales Quantity  Discount    Profit  ProductPrice
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520      Claire Gute   Consumer  United States        Henderson  ...  South  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase  261.9600        2      0.00   41.9136      130.9800
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520      Claire Gute   Consumer  United States        Henderson  ...  South  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3      0.00  219.5820      243.9800
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles  ...   West  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200        2      0.00    6.8714        7.3100
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  South  FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775        5      0.45 -383.0310      191.5155
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  South  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.3680        2      0.20    2.5164       11.1840

[5 rows x 22 columns]

In [84]:
df["ListPrice"] = (df["Sales"]/(1-df["Discount"]))/df["Quantity"]
df.head()

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID    Customer Name    Segment        Country             City  ...       Product ID         Category Sub-Category                                       Product Name     Sales Quantity Discount    Profit  ProductPrice  ListPrice
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase  261.9600        2     0.00   41.9136      130.9800     130.98
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3     0.00  219.5820      243.9800     243.98
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles  ...  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200        2     0.00    6.8714        7.3100       7.31
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775        5     0.45 -383.0310      191.5155     348.21
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.3680        2     0.20    2.5164       11.1840      13.98

[5 rows x 23 columns]

In [85]:
df["Order Date"] = pd.to_datetime(df["Order Date"])

In [86]:
df["Ship Date"] = pd.to_datetime(df["Ship Date"])

In [87]:
df.head()

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID    Customer Name    Segment        Country             City  ...       Product ID         Category Sub-Category                                       Product Name     Sales Quantity Discount    Profit  ProductPrice  ListPrice
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase  261.9600        2     0.00   41.9136      130.9800     130.98
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3     0.00  219.5820      243.9800     243.98
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles  ...  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200        2     0.00    6.8714        7.3100       7.31
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775        5     0.45 -383.0310      191.5155     348.21
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.3680        2     0.20    2.5164       11.1840      13.98

[5 rows x 23 columns]

In [88]:
df.columns = df.columns.str.replace(' ','')

In [89]:
df.head()

   RowID         OrderID  OrderDate   ShipDate        ShipMode CustomerID     CustomerName    Segment        Country             City  ...        ProductID         Category Sub-Category                                        ProductName     Sales Quantity Discount    Profit  ProductPrice  ListPrice
0      1  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase  261.9600        2     0.00   41.9136      130.9800     130.98
1      2  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3     0.00  219.5820      243.9800     243.98
2      3  CA-2016-138688 2016-06-12 2016-06-16    Second Class   DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles  ...  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200        2     0.00    6.8714        7.3100       7.31
3      4  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775        5     0.45 -383.0310      191.5155     348.21
4      5  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.3680        2     0.20    2.5164       11.1840      13.98

[5 rows x 23 columns]

In [90]:
df.columns = df.columns.str.replace('-','')
df.head()

   RowID         OrderID  OrderDate   ShipDate        ShipMode CustomerID     CustomerName    Segment        Country             City  ...        ProductID         Category SubCategory                                        ProductName     Sales Quantity Discount    Profit  ProductPrice  ListPrice
0      1  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-BO-10001798        Furniture   Bookcases                  Bush Somerset Collection Bookcase  261.9600        2     0.00   41.9136      130.9800     130.98
1      2  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520      Claire Gute   Consumer  United States        Henderson  ...  FUR-CH-10000454        Furniture      Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3     0.00  219.5820      243.9800     243.98
2      3  CA-2016-138688 2016-06-12 2016-06-16    Second Class   DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles  ...  OFF-LA-10000240  Office Supplies      Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200        2     0.00    6.8714        7.3100       7.31
3      4  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  FUR-TA-10000577        Furniture      Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775        5     0.45 -383.0310      191.5155     348.21
4      5  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  OFF-ST-10000760  Office Supplies     Storage                     Eldon Fold 'N Roll Cart System   22.3680        2     0.20    2.5164       11.1840      13.98

[5 rows x 23 columns]

In [91]:
df = df.round({"Sales":2, "Profit":2, "ProductPrice": 2})
df

      RowID         OrderID  OrderDate   ShipDate        ShipMode CustomerID      CustomerName    Segment        Country             City  ...        ProductID         Category  SubCategory                                        ProductName   Sales Quantity Discount  Profit  ProductPrice  ListPrice
0         1  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520       Claire Gute   Consumer  United States        Henderson  ...  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase  261.96        2     0.00   41.91        130.98     130.98
1         2  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520       Claire Gute   Consumer  United States        Henderson  ...  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94        3     0.00  219.58        243.98     243.98
2         3  CA-2016-138688 2016-06-12 2016-06-16    Second Class   DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles  ...  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.62        2     0.00    6.87          7.31       7.31
3         4  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.58        5     0.45 -383.03        191.52     348.21
4         5  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.37        2     0.20    2.52         11.18      13.98
...     ...             ...        ...        ...             ...        ...               ...        ...            ...              ...  ...              ...              ...          ...                                                ...     ...      ...      ...     ...           ...        ...
9989   9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class   TB-21400  Tom Boeckenhauer   Consumer  United States            Miami  ...  FUR-FU-10001889        Furniture  Furnishings                             Ultra Door Pull Handle   25.25        3     0.20    4.10          8.42      10.52
9990   9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class   DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  ...  FUR-FU-10000747        Furniture  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.96        2     0.00   15.63         45.98      45.98
9991   9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class   DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  ...  TEC-PH-10003645       Technology       Phones                              Aastra 57i VoIP phone  258.58        2     0.20   19.39        129.29     161.61
9992   9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class   DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  ...  OFF-PA-10004041  Office Supplies        Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.60        4     0.00   13.32          7.40       7.40
9993   9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class   CC-12220      Chris Cortes   Consumer  United States      Westminster  ...  OFF-AP-10002684  Office Supplies   Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.16        2     0.00   72.95        121.58     121.58

[9994 rows x 23 columns]

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RowID         9994 non-null   int64
 1   OrderID       9994 non-null   object
 2   OrderDate     9994 non-null   datetime64[ns]
 3   ShipDate      9994 non-null   datetime64[ns]
 4   ShipMode      9994 non-null   object
 5   CustomerID    9994 non-null   object
 6   CustomerName  9994 non-null   object
 7   Segment       9994 non-null   object
 8   Country       9994 non-null   object
 9   City          9994 non-null   object
 10  State         9994 non-null   object
 11  PostalCode    9994 non-null   int64
 12  Region        9994 non-null   object
 13  ProductID     9994 non-null   object
 14  Category      9994 non-null   object
 15  SubCategory   9994 non-null   object
 16  ProductName   9994 non-null   object
 17  Sales         9994 non-null   float64
 18  Quantity      9994 non-null   int64
 19  Discount      9994 non-null   float64
 20  Profit        9994 non-null   float64
 21  ProductPrice  9994 non-null   float64
 22  ListPrice     9994 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(3), object(13)
memory usage: 1.8+ MB

In [93]:
df_order = df[["RowID", "OrderID", "OrderDate", "CustomerID", "ProductID", "Sales"]]

In [94]:
df_order

      RowID         OrderID  OrderDate CustomerID        ProductID   Sales
0         1  CA-2016-152156 2016-11-08   CG-12520  FUR-BO-10001798  261.96
1         2  CA-2016-152156 2016-11-08   CG-12520  FUR-CH-10000454  731.94
2         3  CA-2016-138688 2016-06-12   DV-13045  OFF-LA-10000240   14.62
3         4  US-2015-108966 2015-10-11   SO-20335  FUR-TA-10000577  957.58
4         5  US-2015-108966 2015-10-11   SO-20335  OFF-ST-10000760   22.37
...     ...             ...        ...        ...              ...     ...
9989   9990  CA-2014-110422 2014-01-21   TB-21400  FUR-FU-10001889   25.25
9990   9991  CA-2017-121258 2017-02-26   DB-13060  FUR-FU-10000747   91.96
9991   9992  CA-2017-121258 2017-02-26   DB-13060  TEC-PH-10003645  258.58
9992   9993  CA-2017-121258 2017-02-26   DB-13060  OFF-PA-10004041   29.60
9993   9994  CA-2017-119914 2017-05-04   CC-12220  OFF-AP-10002684  243.16

[9994 rows x 6 columns]

In [95]:
df_order.to_csv("Order.csv")

In [96]:
df_customer = df[["CustomerID", "CustomerName", "Segment", "Country","City", "State", "PostalCode", "Region"]]
df_customer

     CustomerID      CustomerName    Segment        Country             City       State  PostalCode Region
0      CG-12520       Claire Gute   Consumer  United States        Henderson    Kentucky       42420  South
1      CG-12520       Claire Gute   Consumer  United States        Henderson    Kentucky       42420  South
2      DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles  California       90036   West
3      SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida       33311  South
4      SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida       33311  South
...         ...               ...        ...            ...              ...         ...         ...    ...
9989   TB-21400  Tom Boeckenhauer   Consumer  United States            Miami     Florida       33180  South
9990   DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  California       92627   West
9991   DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  California       92627   West
9992   DB-13060       Dave Brooks   Consumer  United States       Costa Mesa  California       92627   West
9993   CC-12220      Chris Cortes   Consumer  United States      Westminster  California       92683   West

[9994 rows x 8 columns]

In [97]:
df_customer = df_customer.drop_duplicates()

In [98]:
df_customer.to_csv("customer.csv")

In [99]:
df_products = df[["ProductID", "Category", "SubCategory", "ProductName"]]
df_products

            ProductID         Category  SubCategory                                        ProductName
0     FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase
1     FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2     OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...
3     FUR-TA-10000577        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table
4     OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System
...               ...              ...          ...                                                ...
9989  FUR-FU-10001889        Furniture  Furnishings                             Ultra Door Pull Handle
9990  FUR-FU-10000747        Furniture  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...
9991  TEC-PH-10003645       Technology       Phones                              Aastra 57i VoIP phone
9992  OFF-PA-10004041  Office Supplies        Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"
9993  OFF-AP-10002684  Office Supplies   Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...

[9994 rows x 4 columns]

In [100]:
df_products = df_products.drop_duplicates()

In [101]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1894 entries, 0 to 9935
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    1894 non-null   object
 1   Category     1894 non-null   object
 2   SubCategory  1894 non-null   object
 3   ProductName  1894 non-null   object
dtypes: object(4)
memory usage: 74.0+ KB

In [102]:
df_products.to_csv("products.csv")

In [103]:
df_shipments = df[["OrderID", "OrderDate", "ShipDate", "ShipMode", "CustomerID"]]

In [104]:
df_shipments = df_shipments.drop_duplicates()

In [105]:
df_sales = df[["OrderID", "Sales", "Quantity", "Discount", "Profit", "ProductPrice"]]
df_sales

             OrderID   Sales  Quantity  Discount  Profit  ProductPrice
0     CA-2016-152156  261.96         2      0.00   41.91        130.98
1     CA-2016-152156  731.94         3      0.00  219.58        243.98
2     CA-2016-138688   14.62         2      0.00    6.87          7.31
3     US-2015-108966  957.58         5      0.45 -383.03        191.52
4     US-2015-108966   22.37         2      0.20    2.52         11.18
...              ...     ...       ...       ...     ...           ...
9989  CA-2014-110422   25.25         3      0.20    4.10          8.42
9990  CA-2017-121258   91.96         2      0.00   15.63         45.98
9991  CA-2017-121258  258.58         2      0.20   19.39        129.29
9992  CA-2017-121258   29.60         4      0.00   13.32          7.40
9993  CA-2017-119914  243.16         2      0.00   72.95        121.58

[9994 rows x 6 columns]

In [106]:
print(df[df_sales.duplicated()])

      RowID         OrderID  OrderDate   ShipDate        ShipMode CustomerID    CustomerName      Segment        Country      City  ...        ProductID   Category SubCategory                                        ProductName   Sales Quantity Discount  Profit  ProductPrice  ListPrice
3406   3407  US-2014-150119 2014-04-23 2014-04-27  Standard Class   LB-16795  Laurel Beltran  Home Office  United States  Columbus  ...  FUR-CH-10002965  Furniture      Chairs  Global Leather Highback Executive Chair with P...  281.37        2      0.3  -12.06        140.69     200.98

[1 rows x 23 columns]

In [107]:
df_sales.drop_duplicates()

             OrderID   Sales  Quantity  Discount  Profit  ProductPrice
0     CA-2016-152156  261.96         2      0.00   41.91        130.98
1     CA-2016-152156  731.94         3      0.00  219.58        243.98
2     CA-2016-138688   14.62         2      0.00    6.87          7.31
3     US-2015-108966  957.58         5      0.45 -383.03        191.52
4     US-2015-108966   22.37         2      0.20    2.52         11.18
...              ...     ...       ...       ...     ...           ...
9989  CA-2014-110422   25.25         3      0.20    4.10          8.42
9990  CA-2017-121258   91.96         2      0.00   15.63         45.98
9991  CA-2017-121258  258.58         2      0.20   19.39        129.29
9992  CA-2017-121258   29.60         4      0.00   13.32          7.40
9993  CA-2017-119914  243.16         2      0.00   72.95        121.58

[9993 rows x 6 columns]

In [108]:
df_sales = df_sales.drop_duplicates()

In [109]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9993 entries, 0 to 9993
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       9993 non-null   object
 1   Sales         9993 non-null   float64
 2   Quantity      9993 non-null   int64
 3   Discount      9993 non-null   float64
 4   Profit        9993 non-null   float64
 5   ProductPrice  9993 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 546.5+ KB

In [110]:
df_sales.to_csv("sales.csv")

# einfache Basismethode um python mit Datenbank zu verbinden, für Dataframe besser siehe weiter unten

In [111]:
# https://www.freecodecamp.org/japanese/news/connect-python-with-sql/
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [112]:


connection = create_server_connection("localhost", "projekt", "x")

cursor=connection.cursor()
cursor.execute("select distinct(city) from test.`sample-superstore`" )
r = cursor.fetchall()

r

MySQL Database connection successful

[('Henderson',),
 ('Los Angeles',),
 ('Fort Lauderdale',),
 ('Concord',),
 ('Seattle',),
 ('Fort Worth',),
 ('Madison',),
 ('West Jordan',),
 ('San Francisco',),
 ('Fremont',),
 ('Philadelphia',),
 ('Orem',),
 ('Houston',),
 ('Richardson',),
 ('Naperville',),
 ('Melbourne',),
 ('Eagan',),
 ('Westland',),
 ('Dover',),
 ('New Albany',),
 ('New York City',),
 ('Troy',),
 ('Chicago',),
 ('Gilbert',),
 ('Springfield',),
 ('Jackson',),
 ('Memphis',),
 ('Decatur',),
 ('Durham',),
 ('Columbia',),
 ('Rochester',),
 ('Minneapolis',),
 ('Portland',),
 ('Saint Paul',),
 ('Aurora',),
 ('Charlotte',),
 ('Orland Park',),
 ('Urbandale',),
 ('Columbus',),
 ('Bristol',),
 ('Wilmington',),
 ('Bloomington',),
 ('Phoenix',),
 ('Roseville',),
 ('Independence',),
 ('Pasadena',),
 ('Newark',),
 ('Franklin',),
 ('Scottsdale',),
 ('San Jose',),
 ('Edmond',),
 ('Carlsbad',),
 ('San Antonio',),
 ('Monroe',),
 ('Fairfield',),
 ('Grand Prairie',),
 ('Redlands',),
 ('Hamilton',),
 ('Westfield',),
 ('Akron',),
 ('Denver',),
 ('Dallas',),
 ('Whittier',),
 ('Saginaw',),
 ('Medina',),
 ('Dublin',),
 ('Detroit',),
 ('Tampa',),
 ('Santa Clara',),
 ('Lakeville',),
 ('San Diego',),
 ('Brentwood',),
 ('Chapel Hill',),
 ('Morristown',),
 ('Cincinnati',),
 ('Inglewood',),
 ('Tamarac',),
 ('Colorado Springs',),
 ('Belleville',),
 ('Taylor',),
 ('Lakewood',),
 ('Arlington',),
 ('Arvada',),
 ('Hackensack',),
 ('Saint Petersburg',),
 ('Long Beach',),
 ('Hesperia',),
 ('Murfreesboro',),
 ('Austin',),
 ('Lowell',),
 ('Manchester',),
 ('Harlingen',),
 ('Tucson',),
 ('Quincy',),
 ('Pembroke Pines',),
 ('Des Moines',),
 ('Peoria',),
 ('Las Vegas',),
 ('Warwick',),
 ('Miami',),
 ('Huntington Beach',),
 ('Richmond',),
 ('Louisville',),
 ('Lawrence',),
 ('Canton',),
 ('New Rochelle',),
 ('Gastonia',),
 ('Jacksonville',),
 ('Auburn',),
 ('Norman',),
 ('Park Ridge',),
 ('Amarillo',),
 ('Lindenhurst',),
 ('Huntsville',),
 ('Fayetteville',),
 ('Costa Mesa',),
 ('Parker',),
 ('Atlanta',),
 ('Gladstone',),
 ('Great Falls',),
 ('Lakeland',),
 ('Montgomery',),
 ('Mesa',),
 ('Green Bay',),
 ('Anaheim',),
 ('Marysville',),
 ('Salem',),
 ('Laredo',),
 ('Grove City',),
 ('Dearborn',),
 ('Warner Robins',),
 ('Vallejo',),
 ('Mission Viejo',),
 ('Rochester Hills',),
 ('Plainfield',),
 ('Sierra Vista',),
 ('Vancouver',),
 ('Cleveland',),
 ('Tyler',),
 ('Burlington',),
 ('Waynesboro',),
 ('Chester',),
 ('Cary',),
 ('Palm Coast',),
 ('Mount Vernon',),
 ('Hialeah',),
 ('Oceanside',),
 ('Evanston',),
 ('Trenton',),
 ('Cottage Grove',),
 ('Bossier City',),
 ('Lancaster',),
 ('Asheville',),
 ('Lake Elsinore',),
 ('Omaha',),
 ('Edmonds',),
 ('Santa Ana',),
 ('Milwaukee',),
 ('Florence',),
 ('Linden',),
 ('Salinas',),
 ('New Brunswick',),
 ('Garland',),
 ('Norwich',),
 ('Alexandria',),
 ('Toledo',),
 ('Farmington',),
 ('Riverside',),
 ('Torrance',),
 ('Round Rock',),
 ('Boca Raton',),
 ('Virginia Beach',),
 ('Murrieta',),
 ('Olympia',),
 ('Washington',),
 ('Jefferson City',),
 ('Saint Peters',),
 ('Rockford',),
 ('Brownsville',),
 ('Yonkers',),
 ('Oakland',),
 ('Clinton',),
 ('Encinitas',),
 ('Roswell',),
 ('Jonesboro',),
 ('Antioch',),
 ('Homestead',),
 ('La Porte',),
 ('Lansing',),
 ('Cuyahoga Falls',),
 ('Reno',),
 ('Harrisonburg',),
 ('Escondido',),
 ('Royal Oak',),
 ('Rockville',),
 ('Coral Springs',),
 ('Buffalo',),
 ('Boynton Beach',),
 ('Gulfport',),
 ('Fresno',),
 ('Greenville',),
 ('Macon',),
 ('Cedar Rapids',),
 ('Providence',),
 ('Pueblo',),
 ('Deltona',),
 ('Murray',),
 ('Lorain',),
 ('Middletown',),
 ('Freeport',),
 ('Pico Rivera',),
 ('Provo',),
 ('Pleasant Grove',),
 ('Smyrna',),
 ('Parma',),
 ('Mobile',),
 ('New Bedford',),
 ('Irving',),
 ('Vineland',),
 ('Glendale',),
 ('Niagara Falls',),
 ('Thomasville',),
 ('Westminster',),
 ('Coppell',),
 ('Pomona',),
 ('North Las Vegas',),
 ('Allentown',),
 ('Tempe',),
 ('Laguna Niguel',),
 ('Bridgeton',),
 ('Everett',),
 ('Watertown',),
 ('Appleton',),
 ('Bellevue',),
 ('Allen',),
 ('El Paso',),
 ('Grapevine',),
 ('Carrollton',),
 ('Kent',),
 ('Lafayette',),
 ('Tigard',),
 ('Skokie',),
 ('Plano',),
 ('Suffolk',),
 ('Indianapolis',),
 ('Bayonne',),
 ('Greensboro',),
 ('Baltimore',),
 ('Kenosha',),
 ('Olathe',),
 ('Tulsa',),
 ('Redmond',),
 ('Raleigh',),
 ('Muskogee',),
 ('Meriden',),
 ('Bowling Green',),
 ('South Bend',),
 ('Spokane',),
 ('Keller',),
 ('Port Orange',),
 ('Charlottesville',),
 ('Missoula',),
 ('Apopka',),
 ('Reading',),
 ('Broomfield',),
 ('Paterson',),
 ('Oklahoma City',),
 ('Chesapeake',),
 ('Lubbock',),
 ('Johnson City',),
 ('San Bernardino',),
 ('Leominster',),
 ('Bozeman',),
 ('Perth Amboy',),
 ('Ontario',),
 ('Rancho Cucamonga',),
 ('Moorhead',),
 ('Mesquite',),
 ('Ormond Beach',),
 ('Sunnyvale',),
 ('York',),
 ('College Station',),
 ('Saint Louis',),
 ('Manteca',),
 ('San Angelo',),
 ('Salt Lake City',),
 ('Knoxville',),
 ('Little Rock',),
 ('Lincoln Park',),
 ('Marion',),
 ('Littleton',),
 ('Bangor',),
 ('Southaven',),
 ('New Castle',),
 ('Midland',),
 ('Sioux Falls',),
 ('Fort Collins',),
 ('Clarksville',),
 ('Sacramento',),
 ('Thousand Oaks',),
 ('Malden',),
 ('Holyoke',),
 ('Albuquerque',),
 ('Sparks',),
 ('Coachella',),
 ('Elmhurst',),
 ('Passaic',),
 ('North Charleston',),
 ('Newport News',),
 ('Jamestown',),
 ('Mishawaka',),
 ('La Quinta',),
 ('Tallahassee',),
 ('Nashville',),
 ('Bellingham',),
 ('Woodstock',),
 ('Haltom City',),
 ('Wheeling',),
 ('Summerville',),
 ('Hot Springs',),
 ('Englewood',),
 ('Las Cruces',),
 ('Hoover',),
 ('Frisco',),
 ('Vacaville',),
 ('Waukesha',),
 ('Bakersfield',),
 ('Pompano Beach',),
 ('Corpus Christi',),
 ('Redondo Beach',),
 ('Orlando',),
 ('Orange',),
 ('Lake Charles',),
 ('Highland Park',),
 ('Hempstead',),
 ('Noblesville',),
 ('Apple Valley',),
 ('Mount Pleasant',),
 ('Stockton',),
 ('Sterling Heights',),
 ('Eau Claire',),
 ('Pharr',),
 ('Billings',),
 ('Gresham',),
 ('Chattanooga',),
 ('Meridian',),
 ('Bolingbrook',),
 ('Maple Grove',),
 ('Woodland',),
 ('Missouri City',),
 ('Pearland',),
 ('San Mateo',),
 ('Grand Rapids',),
 ('Visalia',),
 ('Overland Park',),
 ('Temecula',),
 ('Yucaipa',),
 ('Revere',),
 ('Conroe',),
 ('Tinley Park',),
 ('Dubuque',),
 ('Dearborn Heights',),
 ('Santa Fe',),
 ('Hickory',),
 ('Carol Stream',),
 ('Saint Cloud',),
 ('North Miami',),
 ('Plantation',),
 ('Port Saint Lucie',),
 ('Rock Hill',),
 ('Odessa',),
 ('West Allis',),
 ('Manhattan',),
 ('Altoona',),
 ('Thornton',),
 ('Champaign',),
 ('Texarkana',),
 ('Edinburg',),
 ('Baytown',),
 ('Greenwood',),
 ('Woonsocket',),
 ('Superior',),
 ('Bedford',),
 ('Covington',),
 ('Broken Arrow',),
 ('Miramar',),
 ('Hollywood',),
 ('Deer Park',),
 ('Wichita',),
 ('Mcallen',),
 ('Iowa City',),
 ('Boise',),
 ('Cranston',),
 ('Medford',),
 ('Port Arthur',),
 ('Citrus Heights',),
 ('The Colony',),
 ('Daytona Beach',),
 ('Bullhead City',),
 ('Portage',),
 ('Fargo',),
 ('Elkhart',),
 ('San Gabriel',),
 ('Margate',),
 ('Sandy Springs',),
 ('Mentor',),
 ('Lawton',),
 ('Hampton',),
 ('Rome',),
 ('La Crosse',),
 ('Lewiston',),
 ('Hattiesburg',),
 ('Danville',),
 ('Logan',),
 ('Waterbury',),
 ('Athens',),
 ('Avondale',),
 ('Marietta',),
 ('Yuma',),
 ('Wausau',),
 ('Pasco',),
 ('Oak Park',),
 ('Pensacola',),
 ('League City',),
 ('Gaithersburg',),
 ('Lehi',),
 ('Tuscaloosa',),
 ('Moreno Valley',),
 ('Georgetown',),
 ('Loveland',),
 ('Chandler',),
 ('Helena',),
 ('Kirkwood',),
 ('Waco',),
 ('Frankfort',),
 ('Bethlehem',),
 ('Grand Island',),
 ('Woodbury',),
 ('Rogers',),
 ('Clovis',),
 ('Jupiter',),
 ('Santa Barbara',),
 ('Cedar Hill',),
 ('Norfolk',),
 ('Draper',),
 ('Ann Arbor',),
 ('La Mesa',),
 ('Pocatello',),
 ('Holland',),
 ('Milford',),
 ('Buffalo Grove',),
 ('Lake Forest',),
 ('Redding',),
 ('Chico',),
 ('Utica',),
 ('Conway',),
 ('Cheyenne',),
 ('Owensboro',),
 ('Caldwell',),
 ('Kenner',),
 ('Nashua',),
 ('Redwood City',),
 ('Lebanon',),
 ('Chula Vista',),
 ('Santa Maria',),
 ('Des Plaines',),
 ('Longview',),
 ('Hendersonville',),
 ('Waterloo',),
 ('Cambridge',),
 ('Palatine',),
 ('Beverly',),
 ('Eugene',),
 ('Oxnard',),
 ('Renton',),
 ('Glenview',),
 ('Delray Beach',),
 ('Commerce City',),
 ('Texas City',),
 ('Wilson',),
 ('Rio Rancho',),
 ('Goldsboro',),
 ('Montebello',),
 ('El Cajon',),
 ('Beaumont',),
 ('West Palm Beach',),
 ('Abilene',),
 ('Normal',),
 ('Saint Charles',),
 ('Camarillo',),
 ('Hillsboro',),
 ('Burbank',),
 ('Modesto',),
 ('Garden City',),
 ('Atlantic City',),
 ('Longmont',),
 ('Davis',),
 ('Morgan Hill',),
 ('Clifton',),
 ('Sheboygan',),
 ('East Point',),
 ('Rapid City',),
 ('Andover',),
 ('Kissimmee',),
 ('Shelton',),
 ('Danbury',),
 ('Sanford',),
 ('San Marcos',),
 ('Greeley',),
 ('Mansfield',),
 ('Elyria',),
 ('Twin Falls',),
 ('Coral Gables',),
 ('Romeoville',),
 ('Marlborough',),
 ('Laurel',),
 ('Bryan',),
 ('Pine Bluff',),
 ('Aberdeen',),
 ('Hagerstown',),
 ('East Orange',),
 ('Arlington Heights',),
 ('Oswego',),
 ('Coon Rapids',),
 ('San Clemente',),
 ('San Luis Obispo',),
 ('Springdale',),
 ('Lodi',),
 ('Mason',)]

# to connect python dataframe with mysql: folgende methode

In [113]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="projekt",
                               pw="x",
                               db="projekt5"))

# Insert whole DataFrame into MySQL
df_order.to_sql('orders', con = engine, if_exists = 'replace', chunksize = 1000)

9994

In [114]:
df1 = pd.read_sql(sql="select distinct(customerID) from orders", con=engine)
df1

    customerID
0     CG-12520
1     DV-13045
2     SO-20335
3     BH-11710
4     AA-10480
..         ...
788   CJ-11875
789   RS-19870
790   SC-20845
791   RE-19405
792   SM-20905

[793 rows x 1 columns]

In [115]:
df_order

      RowID         OrderID  OrderDate CustomerID        ProductID   Sales
0         1  CA-2016-152156 2016-11-08   CG-12520  FUR-BO-10001798  261.96
1         2  CA-2016-152156 2016-11-08   CG-12520  FUR-CH-10000454  731.94
2         3  CA-2016-138688 2016-06-12   DV-13045  OFF-LA-10000240   14.62
3         4  US-2015-108966 2015-10-11   SO-20335  FUR-TA-10000577  957.58
4         5  US-2015-108966 2015-10-11   SO-20335  OFF-ST-10000760   22.37
...     ...             ...        ...        ...              ...     ...
9989   9990  CA-2014-110422 2014-01-21   TB-21400  FUR-FU-10001889   25.25
9990   9991  CA-2017-121258 2017-02-26   DB-13060  FUR-FU-10000747   91.96
9991   9992  CA-2017-121258 2017-02-26   DB-13060  TEC-PH-10003645  258.58
9992   9993  CA-2017-121258 2017-02-26   DB-13060  OFF-PA-10004041   29.60
9993   9994  CA-2017-119914 2017-05-04   CC-12220  OFF-AP-10002684  243.16

[9994 rows x 6 columns]